*{
	font-size: 15px;
	margin: 0px;
	padding:0px;
	color: #686868;
	text-indent: 2em;
}
#banner{
	width: 1350px;
	height: 303px;
	background-color: #333333;
}
#banner img{
	width:500px;
	height:300px;
	padding-left:10px;
}
#picScroll{
	width:900px;
	height:300px;
	margin-left:220px;
	border:1px solid white;
	overflow:hidden;
	white-space: nowrap;
}
#one{
	background-color: #333333;
	width: 1350px;
	height: 45px;
	border:1px solid white;
	margin-top: 2px; 
}
#nav{
	margin-left: 140px;
	list-style:none;
	line-height:45px;
}
#nav a:link,#nav a:visited{
	display:block;
	width:120px;
	color:white;
	text-align: center;
	text-decoration:none;
}
#nav a:hover{
	color: #FFF;
	text-decoration: underline;
	font-weight: bold;
	background:#999;
}
#nav ul{
	list-style: none;
}
#nav li{
	float:left;
	width: 120px;
}
#nav li ul li a:hover{
	background:#C00;
}
#nav li ul{
	display:none;
}
#nav li.subMenuShow ul{
	display:block;
}
form{
	float: left;
	padding-top: 10px;
	margin-left: 15px;
}
input{
	height:22px;
}
button{
	height: 25px;
	width:80px;
	text-align: center;
}
#main{
	width:800px;
	height:800px;
	float:left;
	margin:auto;
}
#bigpic{
	width:730px;
	height: 450px;
	border: 1px solid #686868;
	margin-top: 30px;
}
#smallpic{
	height:760px; 
	width:263px;
	float:left;
	margin-top: 20px;
}
#smallpic img{
	display:block;
	margin-left:10px; 
	margin-top:7px;
	border: 1px solid #686868;
}
#smallpic img:hover{
	cursor:pointer; /*设定鼠标的形状为小手*/
}
.pb{
	border:3px solid #14c3fd;
}
#smallpic div{
	border:1px solid black;
	height:190px;
	background-image: url(images/n.png);
}
div p{
	margin:12px 0px 0px 7px; 
	line-height: 1.5em;
}
div p a{
	text-decoration: none;
}
div p a b{
	color:red;	
}
#two{
	width:700px;
	height: 250px;
	margin:30px 0px 0px 60px;
	border:1px solid black;
	overflow:hidden;
	white-space: nowrap;
}
#two1 img{
	width:400px;
	height: 250px;
}
#content{
	height: 800px;
	background-color: #E0E0E0;
}
#footer{
	background-color: #333333;
	height: 130px;
	width: 1350px;
}
.five{
	margin: 12px 0px 0px 350px;
	font-weight: bold;
}
.five a{
	color: white;
	text-decoration: none;
}
.seven{
	margin-left: 430px;
	margin-top: 4px;
	color: white;
}
.eight{
	margin-left: 470px;
	margin-top: 3px;
	color: white;
}
.five li{
	display: inline;
}